@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@mixin border-radius($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin transition($value) {
  transition: all $value;
  -webkit-transition: all $value;
  -moz-transition: all $value;
  -ms-transition: all $value;
  -o-transition: all $value;
}

$head: 'Lilita One',
cursive;
$peragraph: 'Roboto Condensed',
sans-serif;


$primery:#0D1128;

$secondary:#FD5F00;

$text_color:#666666;

$compolsary:#696c75;

$main_head:#333333;

* {
  margin: 0;
  padding: 0;
  @include transition(1s);
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;

}

button {
  a {
    text-decoration: none;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

p {
  color: $text_color;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;

}



.sec_title {
  text-align: center;

  .main_ti {
    color: $main_head;

  }
}

.app_btn {
  @include transition(.5s);

  * {
    @include transition(.5s);
  }

  border: 1px solid $secondary;
  background-color: $secondary;
  @include border-radius(100px);

  a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;

  }
}

.app_btn:hover {
  background-color: transparent;

  a {
    color: $secondary;
  }
}





header {
  .logo_title {
    h1 {
      font-weight: bolder !important;
    }
  }

  .info {
    i {
      color: #FD5F00;
      font-size: 25px;
      margin-right: 10px;
    }

    h5 {
      color: $main_head;
      font-size: 16px;
      font-weight: bolder;
      color: black;
    }

    h6 {
      font-weight: normal;
    }
  }

  .nav_2 {
    background-color: $primery;

    .manu {
      display: flex;

      li {
        @include transition(.5s);

        a {
          @include transition(.5s);
          display: block;
          padding: 20px;
          color: white;
          font-weight: 500;
          text-transform: capitalize;
        }

        .active {
          color: #FD5F00;
        }
      }

      li:hover {
        a {
          color: #FD5F00;
        }
      }


    }

    form {
      @include border-radius(100px);
      border: 1px solid rgba(255, 255, 255, 0.226);
      margin-right: 20px;

      input,
      input::placeholder,
      button {
        padding: 10px;
        border: 0px;
        background-color: transparent;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.648);
      }

      input:focus {
        outline: none;
      }
    }
  }
}


// <!-- //============================================================================
//                        Banner Section
// //============================================================================ -->\



.hero_banner {
  .ban_slide {
    .items {
      background-blend-mode: overlay;
      height: 700px;
      width: 100vw;
    }

    .hero_content {
      color: white;
      height: 700px;
      display: flex;
      align-items: center;

      .hero_ti {
        font-weight: bolder;
        color: white;
        font-size: 50px;
      }

      p {
        color: white;

      }
    }
  }
}

// <!-- //============================================================================
//                        services Section
// //============================================================================ -->\


.services {
  .ser_card {
    width: 100%;
    text-align: center;

    p {
      color: white;

    }

    i {
      font-size: 50px;
      margin-bottom: 2%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    padding: 50px 30px;

  }
}


// <!-- //============================================================================
//                        offer Section
// //============================================================================ -->\


.offer {
  .off_title {
    padding-right: 30px;

    h2 {
      color: $main_head;
      font-size: 30px;
    }

  }

  .off_card {
    cursor: pointer;
    width: 100%;

    i {
      @include border-radius(100px);
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8660b;
      margin-right: 20px;
      font-size: 40px;
      margin-bottom: 2%;
      color: white;
    }

    display: flex;


  }
}


// <!-- //============================================================================
//                        drection Section
// //============================================================================ -->\

.drection {
  background-attachment: fixed !important;
  height: 800px;
  width: 100vw;
  background-blend-mode: overlay;
  padding: 100px 0px;

  .sec_title {
    text-align: left;

    .main_ti,
    .sub_ti {
      color: white;
    }
  }

  .counters {
    text-align: center;

    h1 {
      font-weight: bolder;
    }
  }
}


.Courses {
  padding: 0px 30px;

  .Course_card {
    .img {
      img {
        height: 300px;
        width: 100%;
      }
    }

    .cour_he {

      a {
        @include transition(.5s);
        text-decoration: none;
        color: #0D1128;
        font-weight: 500;
      }
    }

    .cour_he {
      a:hover {
        color: #f8660b;
      }
    }

    .cour_detals {
      margin-top: 20px;

      .item {
        i {
          margin-right: 3px;
          color: $secondary;
        }

        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        color: #666666e2;
        letter-spacing: 1px;
      }
    }
  }
}




.gellary {
  .img {

    @include transition(.5s);
    cursor: zoom-in;
    position: relative;

    a {
      background-color: rgba(0, 0, 0, 0.348);
      @include transition(.5s);
      opacity: 0;
      cursor: zoom-in;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      i {
        display: block;
        color: white;
        height: 50px;
        width: 50px;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      width: 100%;

    }
  }

  .img:hover {
    a {
      opacity: 1;
    }
  }
}






.testimonial {
  .content {
    .comment {
      p {
        font-size: 20px;
      }

      .name {
        font-weight: 500;
      }

      .rel {
        color: $secondary;
        font-weight: normal;
      }
    }

    margin-top: 150px;
    display: flex;

    .img {
      margin-right: 30px;

      img {
        @include border-radius(100px);
        height: 130px;
        width: 130px;
      }
    }
  }
}

// <!-- //============================================================================
//                        drection Section
// //============================================================================ -->\
.teacher {
  .tec_card {
    @include transition(.5s);

    * {
      @include transition(.5s);
    }

    .img {
      height: 400px;
      overflow: hidden;
      position: relative;
    }


    .social {
      @include transition(.5s);
      top: 100%;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: end;

      .links {
        padding: 20px 0px;

        a {
          i {
            color: #f8660b;
          }

        }
      }
    }

    cursor: pointer;
    text-align: center;

    .details {
      .t_nam {
        text-transform: capitalize;
      }

      .position {
        color: $secondary;
      }
    }
  }

  .tec_card:hover {
    .img {
      img {
        margin-top: -10px;
      }

      .social {
        top: 0%;

      }
    }

    .details {
      .t_nam {
        color: #f8660b;
      }
    }
  }
}


.contact {
  background-blend-mode: overlay;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 0 0;
  background-attachment: fixed !important;


  .get_touch {
    .app_btn {
      width: 100%;
      padding: 20px;
      @include transition(.5s);

      * {
        @include transition(.5s);
      }

      border: 1px solid $secondary;
      background-color: $secondary;
      @include border-radius(100px);

      display: block;
      color: white;
      text-decoration: none;
      font-weight: 500;
      text-transform: capitalize;


    }

    .app_btn:hover {
      background-color: transparent;

      color: $secondary;

    }



    input,
    select,
    textarea {
      color: white;
      margin-top: 30px;
      width: 100%;
      padding: 15px 0px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ffffff72;
    }

    input:focus,
    select:focus,
    textarea:focus {
      outline: none;
    }

    option {
      color: white;
      background-color: #f8660b;
    }

    input::placeholder,
    textarea::placeholder,
    select {
      font-size: 17px;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.827);
      font-weight: 500;
    }

    textarea {
      padding: 3px;
    }
  }
}

footer {
  background-color: #232323;
  height: 800px;

  .conten {
    margin-top: 100px;
    display: flex;
    justify-content: space-between !important;

    form {
      input {
        width: 250px;
        padding: 10px;
        height: 50px;
        outline: 0;
        background-color: #393939;
        border: none;
        text-align: center;
        color: #ffffff;
        font-weight: 500;
      }

      input::placeholder {
        text-align: center;
        color: #BABABA;
        font-weight: 500;
      }

      input[type='submit'] {
        background-color: #5D50C6;
      }
    }

    .con_title {
      .title_conten {
        display: flex;

        li {
          a {
            padding: 10px 4px;
            display: flex;

            i {
              @include border-radius(100px);
              padding: 10px;
              background-color: #2E2E2E;
              font-size: 20px;
              height: 50px;
              width: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            i:hover {
              background-color: $secondary;
              color: #ffffff;
            }
          }
        }
      }

      .con {
        .div_img {
          display: flex;
          align-items: center;

          .heading {
            font-size: 18px;

            a {
              text-decoration: none;
              color: #ffffff;
            }

            a:hover {
              color: #fd5f00;
            }
          }

          img {
            height: 70px;
            width: 80px;
            margin-right: 20px;
          }
        }

        .calendar {
          display: flex;
          justify-content: center;
          align-items: end;

          .con {
            display: flex;
            align-items: center;

            i {
              color: gray;
              margin-right: 10px;
            }

            span {
              color: gray;
              line-height: 40px;
              font-size: 14px;
            }
          }
        }
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          a {
            color: #BABABA;
            line-height: 30px;
            font-weight: 500;
            font-size: 15px;

            i {
              color: #ffffff;
              font-size: 14px;
            }
          }
        }
      }

      .ftco-heading-2 {
        font-weight: normal;
        color: #fff;
        margin-bottom: 40px;
        font-weight: 500;
      }

      .My_location {
        color: #ffffff;
        display: flex;

        p {
          color: #BABABA;
          font-size: 16px;
        }

        i {
          padding: 10px 0px;
          margin-right: 20px;
          font-size: 16px;

        }
      }
    }
  }

  .title_back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    p{
      color: #BABABA;
    }
  }
}




.about_hero_ban{
  .items{
    background-position: center center;
     background-blend-mode: overlay;
      height: 300px;
      width: 100vw;
      background-size: cover;
  }
    
    .hero_content {
      color: white;
      height: 300px;   
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 

      .hero_ti {
        text-align: center;
        font-weight: bolder;
        color: white;
        font-size: 50px;
      }
      p {margin-left: 20px;
        color: white;
      }
    }
}


    .contact{
        .comment-2{
          margin-top: -180px;
            display: block;
            background-color: white;
  
            input,textarea,select{
                border: 1px solid #0d112862;
                margin-top: 15px;
                width: 100%;
                padding-bottom: 20px;
               @include border-radius(0px);
              
            }
            input::placeholder, textarea::placeholder{
              color: $primery;
              font-size: 14px;
              font-weight: 600;
            }
            input:focus, textarea:focus{
              outline: 0px solid transparent;
          }
      
          
          
          .btn-2 {
      
              margin-right: 20px;
              background-color: $secondary;
              padding: 10px 50px;
              text-transform: uppercase;
              @include transition(.5s);
                  font-weight: 600;
                  font-size: 12px;
                  color: $primery;

               
          }
      
          .btn-2:hover {
              background-color: $primery;
              color: $secondary;
             
          }
          
           
          } 
    }